<!-- popin -->
<div class="modal fade" id="popinSupression" tabindex="-1" role="dialog" aria-labelledby="popinLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popinLabel">Suppression activité</h5> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Etes vous sur de vouloir suppprimer l'activité ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" id="supprimer">Supprimer l'activité</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="activiteId" />
	
</div>

