    
    <div id="infoActivite" class=" hide">
     <div class="titre"> 
        D&eacute;tail de l'activit&eacute;
        <div id="fermerInfoActivite" class="croix"> 
        X
      </div>
      </div>
       <div class="bordure"> 
         <div class="row"> 
           <div class="col-sm-3"><b>Activit&eacute; :</b></div>
          <div class="col-sm-9" id="nomActivite"></div>
        </div>
        <div class="row"> 
          <div class="col-sm-3"><b>Description :</b></div>
          <div class="col-sm-9" id="descriptionActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Nombre de place :</b></div>
          <div class="col-sm-9" id="nbPlaceActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Matériel &agrave; apporter :</b></div>
          <div class="col-sm-9" id="materielActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Lien vers le parcours de la v&eacute;lorution :</b></div>
          <div class="col-sm-9" id="lienVelorution"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Horaire :</b></div>
          <div class="col-sm-9" id="horaireActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Lieu :</b></div>
          <div class="col-sm-9" id="lieuActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Adresse :</b></div>
          <div class="col-sm-9" id="adresseActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Type :</b></div>
          <div class="col-sm-9" id="typeActivite"></div>
        </div>
        <div>
        <div class="row"> 
           <div class="col-sm-3"><b>Porteur :</b></div>
          <div class="col-sm-9" id="nomPorteur0"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Description du porteur :</b></div>
          <div class="col-sm-9" id="descriptionPorteur0"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Site Web du porteur :</b></div>
          <div class="col-sm-9" id="siteWebPorteur0"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Email du porteur :</b></div>
          <div class="col-sm-9" id="adresseMailPorteur0"></div>
        </div>

        <div class="row"> 
           <div class="col-sm-3"><b>Porteur :</b></div>
          <div class="col-sm-9" id="nomPorteur1"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Description du porteur :</b></div>
          <div class="col-sm-9" id="descriptionPorteur1"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Site Web du porteur :</b></div>
          <div class="col-sm-9" id="siteWebPorteur1"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Email du porteur :</b></div>
          <div class="col-sm-9" id="adresseMailPorteur1"></div>
        </div>

        <div class="row"> 
           <div class="col-sm-3"><b>Porteur :</b></div>
          <div class="col-sm-9" id="nomPorteur2"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Description du porteur :</b></div>
          <div class="col-sm-9" id="descriptionPorteur2"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Site Web du porteur :</b></div>
          <div class="col-sm-9" id="siteWebPorteur2"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Email du porteur :</b></div>
          <div class="col-sm-9" id="adresseMailPorteur2"></div>
        </div>
        </div>
      

         <div class="row"> 
           <div class="col-sm-3"><b>Quartier</b></div>
          <div class="col-sm-9" id="quartier"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b>Nombre participant</b></div>
          <div class="col-sm-9" id="nbParticipant"></div>
        </div>
        <div class="row">
            <% if (village._horairesOuvertures!=null && !(village.horsFetesDesPossible!= undefined && village.horsFetesDesPossible)){
            if(moment.utc(village._horairesOuvertures[0].dateDebut.getTime()).isAfter(moment("2018-10-30"))){ %>

          <button type="submit" id="suppressionParticipantActivite" class="btn btn-default couleurbginverse ">Je ne souhaite plus participer  &agrave; l'activité</button>
          <button type="button"  id="ajoutParticipantActivite" class="btn btn-default couleurbg">Je souhaite  participer &agrave; l'activité</button>
            <% }} %>
          <div class="hide" id="activiteId" ></div>
        </div>
      </div>
    </div>
<% include ./popinFormation.ejs %>
<script>
 $("#fermerInfoActivite").click(function(event) {
       $("#infoActivite").addClass("hide");
        });
</script>