<h2 style="color: #098048;">Nouveau contact</h2>
<p>Bonjour,</p>
<p>{{#if nonpublie}}Vous n'avez pas encore publi&eacute; votre &eacute;tape {{nomEtape}} et {{/if}}un nouveau message vient de vous &ecirc;tre adress&eacute;.</p>
<p>Voici le message&nbsp; : {{message}}</p>
<p>L'adresse mail de la personne vous ayant contact&eacute; :&nbsp; {{emailContact}}</p>
{{#if nonpublie}}<p>N'h&eacute;sitez pas &agrave; publier votre &eacute;tape pour que des b&eacute;n&eacute;voles puissent s'inscrire et ainsi gagner en visibilit&eacute; sur votre &eacute;tape.</p>{{/if}}
<p>Voici le lien de votre &eacute;tape&nbsp;<a href="https://ensemblepourleclimat.fr/village?villageId={{villageId}}">lien</a>.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Le collectif Ensemble pour le climat</strong></p>
<p><strong>&nbsp;</strong></p>