<h2 style="color: #098048;">Engagements pour le climat</h2>
<p>Bonjour,</p>
<p><strong>{{prenom}}</strong>, merci tes engagements sont bien enregistr&eacute;e.</p>
<p>Une fois que tu as r&eacute;alis&eacute; ton engagement, reviens sur le site pour mettre &agrave; jour ton statut d'engagement &agrave; fait en suivant ce <a href="https://ensemblepourleclimat.fr/village?villageId={{villageId}}&amp;afficherEngagement=true">lien </a>.</p>
<p>Nous allons comptabiliser l'ensemble des engagements r&eacute;alis&eacute;s.</p>
<p>Merci de ton implication. C'est ensemble que nous changerons les choses.</p>
<p>Dernier engagement si tu le veux bien :</p>
<p>&nbsp;- Partage <a href="https://ensemblepourleclimat.fr/village?villageId={{villageId}}&amp;afficherEngagement=true">le lien des engagements</a> autour de toi. Si tu relaies &agrave; minimum 5 personnes, c'est gagn&eacute; :)</p>
<p>&nbsp;</p>
<p><strong>Le collectif Ensemble pour le climat</strong></p>
<p>#IlEstEncoreTemps #OnEstPret</p>
<p><strong>&nbsp;</strong></p>