<h2 style="color: #098048;">Formation &agrave; l'action non-violente&nbsp;</h2>
<p>Bonjour,</p>
<p><strong>{{prenom}}</strong>, ton inscription &agrave; la formation &agrave; l&rsquo;action non-violente a bien &eacute;t&eacute; enregistr&eacute;e.<br />Si jamais tu n&rsquo;&eacute;tais plus disponible, merci de nous l&rsquo;indiquer en cliquant de nouveau sur le <a href="https://ensemblepourleclimat.fr/village?villageId={{villageId}}&activiteId={{activiteId}}">lien de l&rsquo;inscription</a>, o&ugrave; il est possible d&rsquo;annuler son inscription, pour que d&rsquo;autres puissent s&rsquo;inscrire.</p>
<p><br />En attendant de te rencontrer lors de la formation, on te souhaite un bel &eacute;t&eacute;,<br />&Agrave; tr&egrave;s bient&ocirc;t !</p>
<p>&nbsp;</p>
<p><strong>L&rsquo;&eacute;quipe de formation d&rsquo;ANV-COP21</strong></p>
<p><strong>&nbsp;</strong></p>