<h2 style="color: #098048;">Réinitialisation de votre mot de passe</h2>
<p>Bonjour,</p>
<p>Cliquez sur ce lien pour réinitaliser votre mot de passe : <a href="https://ensemblepourleclimat.fr/authentification/afficherPageReintialisationMotDePasse?token={{token}}&email={{email}}">Réinitialisation du mot de passe</a>
<p><strong>Le collectif Ensemble pour le climat</strong></p>
<p><strong>&nbsp;</strong></p>