
<h2 style="color: #098048;">Bienvenue sur l'outil ensemble pour le climat en tant que r&eacute;f&eacute;rent</h2>
<p>F&eacute;licitation {{a1}} vous &ecirc;tes maintenant le r&eacute;f&eacute;rent de la marche {{a2}}.</p>
<p>Vous pouvez acc&eacute;der &agrave; votre &eacute;tape depuis l'<a href="https://ensemblepourleclimat.fr/profil/referent">onglet R&eacute;f&eacute;rent de Mon Profi</a>&nbsp;ou directement depuis ce <a href="https://ensemblepourleclimat.fr/village?villageId={{villageId}}">lien</a>&nbsp;</p>
<p>De nouveaux boutons d'&eacute;dition de votre marche sont disponibles.</p>
<p>Si vous avez d&eacute;j&agrave; les informations sur vos activit&eacute;s, vous pouvez d&egrave;s maintenant les cr&eacute;er. Vous pouvez visionner le tutorial d'&eacute;dition de marche en suivant ce (Tutoral utilis&eacute; pour le tour alternatiba ) <a href="https://www.dailymotion.com/video/k1xD9gyQuXS0tOquppp">lien</a>&nbsp;.</p>
<p>N'h&eacute;sitez pas &agrave; demander aux autres r&eacute;f&eacute;rents de se connecter et de faire la demande pour &ecirc;tre r&eacute;f&eacute;rent de votre &eacute;tape. Un mail vous sera envoy&eacute; pour vous avertir qu'une personne est en attente de validation pour votre marche.</p>
<p>N'h&eacute;sitez pas &agrave; publier votre marche pour que les b&eacute;n&eacute;voles et des personnes souhaitant vous aider dans l'organisation puissent se manifester sur votre page marche.</p>
<p>N'h&eacute;sitez pas &agrave; nous remonter les am&eacute;liorations, probl&egrave;mes et retours sur ce <a href="https://lite.framacalc.org/retouroutililestencoretemps">document</a>.</p>

<p><strong>Bonne &eacute;dition de marche</strong></p>
<p><strong>Le collectif ensemble pour le climat</strong></p>
<p><strong>&nbsp;</strong></p>