 <%
    if (typeof accesscontrol !== "undefined" && accesscontrol!=null && typeof utilisateur !== "undefined" && utilisateur!=null ) { 
			if (villages!== undefined && villages.length!=0){ %>
	<form action="/ajoutReferent" method="get">
		<%=translation.PROFIL_REFERENT_DEMAND_TITLE%>
		Vous pouvez faire une demande pour être référent d'une marche en choissant la marche dans la liste déroulante.
		La demande doit être ensuite validée.
		<select id="selectVillage" name="villageId" class="selectpicker" data-live-search="true" >
					<option><Choissiez une marche</option>
			          <%
			          if (villages!== undefined){
			          	
			          var villagesTries = villages.sort(function(village1, village2){return village1.nom.localeCompare(village2.nom)});
			          villagesTries.forEach(function(village) {
					  if( (village.estMarche!= undefined && village.estMarche)){
					  %>
						<option value="<%= village.id %>"><%= village.nom %></option>
			          <%
					  }
			           });
			          }%>
		</select>
		<input id="demandeReferent" type="submit" class="hide"  value="Demander à être référent">
	</form>
	</p>
	</br>
	<%
		if (villages!== undefined){
			villages.forEach(function(village) {

					if(village._referentsNonValides!== undefined){
						village._referentsNonValides.forEach(function(referent) {
							if(referent.id==utilisateur.id){
								%>
								<div class="alert alert-primary" role="alert">
								Tu es en attente de validation pour être référent sur la marche <%= village.nom %> </br>
								</div>
								<%
							}
						});

				}
			});

		}

	}
	  	
	 }%>
